<mat-toolbar color="primary">
    <a routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu_book</mat-icon>
    </a>
    <span>Exam Portal</span>
    <span class="example-spacer"></span>
    <a *ngIf="!isLoggedIn" [routerLink]="'/login'" mat-icon-button class="example-icon"
        aria-label="Example icon-button with share icon">
        Login
    </a>
    <a *ngIf="!isLoggedIn" routerLink="/signup" mat-icon-button class="example-icon ml20"
        aria-label="Example icon-button with share icon">
        Register
    </a>
    <a *ngIf="isLoggedIn && user" routerLink="/admin/profile" mat-icon-button class="ml20 mr20">
        {{ user.username }}
    </a>
    <a (click)="logout()" *ngIf="isLoggedIn" mat-icon-button class="ml20">
        Logout
    </a>
</mat-toolbar>