<mat-card *ngIf="user">
    <h1>Your Profile Details</h1>
    <!-- {{user | json}} -->
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="container text-center">
                    <img src="../../../assets/images/default.png" alt="" class="profile-img">
                    <h1 class="ml20">{{user.firstName}} {{user.lastName}}</h1>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <!-- table details -->
                        <table class="table text-center">
                            <tr>
                                <td>Username</td>
                                <td>{{user.username}}</td>
                            </tr>
                            <tr>
                                <td>Userid</td>
                                <td>EXAM{{user.id}}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>{{user.email}}</td>
                            </tr>
                            <!-- <tr *ngIf="user.phone"> -->
                            <tr>
                                <td>Phone</td>
                                <td>{{user.phone}}</td>
                            </tr>
                            <tr>
                                <td>Role</td>
                                <td>{{user.authorities[0].authority}}</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>{{ user.enabled ? "ACTIVE" : "NOT ACTIVE" }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions class="text-center">
        <button mat-raised-button color="primary">Update</button>
        <button mat-raised-button color="accent">SHARE</button>
    </mat-card-actions>
</mat-card>