<mat-card>
    <h1>Add New Category</h1>
    <!-- {{ category | json }} -->
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form (ngSubmit)="formSubmit()">
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Title</mat-label>
                            <input autofocus [(ngModel)]="category.title" type="text" name="title" matInput
                                required placeholder="Enter here">
                        </mat-form-field>
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea name="description" [(ngModel)]="category.description" matInput
                                placeholder="Enter Category Description" rows="12"></textarea>
                        </mat-form-field>
                        <div class="container text-center ml20">
                            <button mat-raised-button color="accent">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>